<a href="https://colab.research.google.com/github/Wincenttjoi/employee-data-visualization/blob/main/DAO2702code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [109]:
import pandas as pd
import numpy as np
from scipy.stats import pointbiserialr

In [110]:
url = 'https://raw.githubusercontent.com/Wincenttjoi/employee-data-visualization/main/WA_Fn-UseC_-HR-Employee-Attrition.csv'
df = pd.read_csv(url)
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [115]:
# https://towardsdatascience.com/point-biserial-correlation-with-python-f7cd591bd3b1

df_numerical = df.select_dtypes("int")
df_numerical = df_numerical.join(df['Attrition'])
df_numerical
is_attrition = df['Attrition'] == 'Yes'
is_not_attrition = df['Attrition'] == 'No'
df_numerical.loc[is_attrition, 'Attrition'] = 1
df_numerical.loc[is_not_attrition, 'Attrition'] = 0
corr_list = []
colnames = []
# def cramers_v(x, y):
#     confusion_matrix = pd.crosstab(x,y)
#     chi2 = ss.chi2_contingency(confusion_matrix)[0]
#     n = confusion_matrix.sum().sum()
#     phi2 = chi2/n
#     r,k = confusion_matrix.shape
#     phi2corr = max(0, phi2-((k-1)*(r-1))/(n-1))
#     rcorr = r-((r-1)**2)/(n-1)
#     kcorr = k-((k-1)**2)/(n-1)
#     return np.sqrt(phi2corr/min((kcorr-1),(rcorr-1)))

y = df_numerical['Attrition'].astype(float)

for column in df_numerical:
  x=df_numerical[column]
  colnames.append(column)
  corr = pointbiserialr(list(x), list(y))
  corr_list.append(corr[0])
result = pd.concat([pd.DataFrame(corr_list), pd.DataFrame(colnames)], axis=1)
result = result.set_axis(['Correlation with Attrition', 'Factor'], axis=1, inplace=False)
result = result.sort_values('Correlation with Attrition', ascending=False)
result.head(5)

/usr/local/lib/python3.7/dist-packages/scipy/stats/stats.py:3508: PearsonRConstantInputWarning: An input array is constant; the correlation coefficent is not defined.
  warnings.warn(PearsonRConstantInputWarning())

    Correlation with Attrition              Factor
26                    1.000000           Attrition
2                     0.077924    DistanceFromHome
13                    0.043494  NumCompaniesWorked
12                    0.015170         MonthlyRate
15                    0.002889   PerformanceRating

In [ ]:
""